@import "reset.css";
@import "variables.css";    /* 자주 사용하는 색상 변수화 */
@font-face {
    font-family: 'BMDoHyeon';
    font-weight: normal; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/woowahan/BMDoHyeon.woff2) format('woff2');
    font-display: swap;
}

.main{
    /* height: calc(100% - 75px); */
    height: 90vh;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form{
    width: 400px;
    text-align: center;
    padding: 30px;
}

button{
    background-color: black;
    color: var(--green);
}

.modal{
    position: fixed;
    background-color: rgba(255, 255, 255, 0.3);
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: none;
}

.modal-content{
    background-color: white;
    width: 350px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 15px rgb(131, 131, 131);
    text-align: center;
}

.modal-content-text{
    padding: 50px;
}

.modal-content-text > p{
    margin-top: 1rem;
}

#btn-close{
    position: absolute;
    top: 15px;
    right: 15px;
}

.ranking{
    background-color: black;
    color: var(--green);
    width: 500px;
    height: 450px;
    margin-bottom: 20px;
    padding: 10px;
}

.ranking-title{
    width: 480px;
    height: 50px;
    color: var(--green);
    font-size: 35px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 10px;
}
.btn-game{
    margin-bottom: 10px;
}

tr > *{
    color: var(--green);
}

.result-content{
    display: flex;
}

.result-content > div{
    margin: 20px 10px
}

.record-box{
    background-color: black;
    color: var(--green);
    width: 250px;
    height: 450px;
    padding: 10px;
    margin-bottom: 20px;
}

.record-text{
    height: 70px;
    font-size: 30px;
    line-height: 70px;
    text-align: center;
}

#record{
    height: 130px;
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
}

#result-footer > button{
    margin: 0px 10px;
    text-align: center;
}

.game{
    background-color: whitesmoke;
    border-radius: 10px;
    width: 500px;
    height: 450px;
    padding: 30px;
}

.container > h1 > span{
    display: inline-block;
    width: 50px;
    text-align: center;
}

.game-num{
    margin: auto;
}

#toast {
    position: fixed;
    bottom: 30px;
    left: 50%;
    padding: 15px 20px;
    transform: translate(-50%, 10px);
    border-radius: 30px;
    overflow: hidden;
    font-size: .8rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s, transform .5s;
    background: rgba(0, 0, 0, .35);
    color: #fff;
    z-index: 10000;
}

#toast.reveal {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0)
}

thead th:first-child, tbody th{
    width: 20%; /* Rank 열의 너비를 20%로 설정 */
    box-sizing: border-box;
    text-align: center;
}
thead th:not(:first-child), tbody td{
    width: 40%; /* tbody 내부의 th 열과 모든 td 열의 너비를 40%로 설정 */
    box-sizing: border-box;
    text-align: center;
}

.container{
    width: 80%; min-width: 320px; max-width: 640px;
    margin: 10px auto; 
    padding: 5px 0 15px;
    text-align: center;
    border-radius: 16px;
  }