@import "reset.css";
@import "variables.css";    /* 자주 사용하는 색상 변수화 */

/* login, signup 페이지에 사용되는 css */
.main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form{
    width: 300px;
    /* height: 150px; */
    padding: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

form > div{
    margin: 5px 0px;
}

.title{
    width: 300px;
    height: 200px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSie7cyddf33Xw7MtuCHgiGwDrOohvX-uHGvg&usqp=CAU');
    background-size: cover;
    display: flex;
}

.title > span{
    margin: auto;
    font-size: 40px;
    font-weight: bolder;
    -webkit-text-stroke: 0.5px var(--green);
}

button{
    background-color: black;
    color: var(--green);
}

.nav{
    width:100%;
    height:100px;
}


.nav-logo{
    height: 100%;
    object-fit: cover;
}