<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Typing Jungle</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <script>
        
    </script>
</head>

<body>
    <div class="nav">
        <span class="nav-logo">Typing Jungle</span>
        <div class="nav-btn">
            <button>Log out</button>
        </div>
    </div>

    <div class="main">
        <div class="game-main">
            <div class="game-problem">
                <!-- 문제 -->
                잊지 마라, 네 인생의 주인은 너다.
            </div>
            <div input type="text" class="game-ans">
                <!-- 사용자가 작성한 답안 -->
            </div>
            <div>
                <button onclick="">Next</button>
            </div>
        </div>

        <div class="footer">
            <div>
                <div class="now-time">
                    `경과 시간 : ${}분 ${}초`
                </div>
                <div class="problem-num">
                    `${현재 문제 번호} / ${전체 문제 개수}`
                </div>
            </div>

        </div>
    </div>
</body>

</html>