<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Typing Jungle</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- Bootstrap CSS -->
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
        crossorigin="anonymous"
    />
  
    <!-- JS -->
    <script
        src="https://code.jquery.com/jquery-3.5.1.min.js"
        crossorigin="anonymous"
    ></script>
    <script
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <script>
        $(document).ready(function() {
            game_page();
            clearInterval(intervalId);
            waiting = setInterval(function(){
                document.getElementById("game-problem").value = wait+"초 후에 시작됩니다.";
                wait--;
            }, 1000)
            setTimeout(function() {
                question();
                clearInterval(waiting);
                intervalId = setInterval(operateTimer, 10);
            }, 3000);
        });
        
        let tenMillis = 0;
        let minutes = 0;
        let seconds = 0;
        let wait = 2;
        let name;
        let intervalId;

        // 로그인 확인
        function game_page(){
            $.ajax({
                type: "GET",
                url: "/api/token",
                data: {},
                success: function(response){
                    if(response['result'] == 'success'){
                        name = response['id']
                        document.getElementById("nav_name").textContent = name+" 님";
                    }
                    else{
                        alert('로그인 시간이 만료되었습니다.')
                        window.location.href = '/'
                    }
                }
            })
        }

        let ex = [0,1,2,3,4,5,6,7,8,9];
        function question(){
            let q_ls = [
            '잊지 마라, 네 인생의 주인은 너다.',
            '정글에서의 시간은 늘 부족하고 학습량은 많다. 단, 너만 그런 것은 아니다.',
            '스스로 깨면 병아리, 남이 깨면 후라이. 물어보기 전에 최선의 내 답을 먼저 찾자.',
            '나의 구급상자와 진통제를 동료에게 아끼지 말자. 언젠가는 다시 돌아온다',
            '숲 안에서는 결코 숲의 전경을 볼 수 없다. 동료의 코드리뷰와 피드백을 감사히 여기자.',
            '정글에는 오답이 없다. 그렇다고 정답이 있는 것도 아니다.',
            '오늘의 TIL을 적지 않으면, 정글의 하루는 끝나지 않는다.',
            '몰입하고 몰입해라. 오늘의 몰입이 내일의 성장을 만든다.',
            '쓰레기는 먼저 본 사람이 줍는다.',
            '끝의 끝까지 하면 기회는 반드시 온다. 크래프톤이 그랬다.'
            ]

            function ex_delete(){
                let ex_number = Math.floor(Math.random() * ex.length);//예문의 배열 수만큼 랜덤 값 구하기
                ex = ex.filter((ex_ex) => ex_ex !== ex[ex_number]);//예문 지우기
                return ex_number
            }
            document.getElementById("game-problem").value = q_ls[ex_delete()]
        }
        // 타이머
        // 10ms 마다 시간에 대한 숫자가 증가한다!
        function operateTimer(){
            tenMillis++;
            document.getElementById("tenMillis").textContent = tenMillis > 9 ?tenMillis : '0' + tenMillis
            if(tenMillis > 99){
              seconds++;
              document.getElementById("seconds").textContent = seconds > 9 ? seconds : '0' + seconds
              tenMillis = 0
              document.getElementById("tenMillis").textContent = "00"
            }
            if(seconds > 59){
              minutes++;
              document.getElementById("minutes").textContent = minutes > 9 ? minutes : '0' + minutes
              seconds = 0
              document.getElementById("seconds").textContent = "00" 
            }
        }
        
        // 답안 제출
        let cnt = 0;
        function submit(){
            if (document.getElementById("game-problem").value != $('#game-ans').val()){
                toast('틀렸습니다!');
                return
            }

            cnt++;
            question()
            document.getElementById("game-ans").value = null;
            document.getElementById("solved_cnt").textContent = cnt;
            if(cnt >= 3){
                saveResult();
            }
        }
        
        function saveResult() {
            let result = parseInt(document.getElementById("minutes").textContent) * 6000 + parseInt(document.getElementById("seconds").textContent) * 100 +
            parseInt(document.getElementById("tenMillis").textContent)
            $.ajax({
                type: "POST",
                url: "/api/log",
                data: {
                    id_give: name,
                    score_give: result
                },
                success: function (response) {
                    if (response['result'] == 'success') {
                        window.location.href = '/result'
                    } else {
                        alert('결과 저장 실패')
                        window.location.href = '/home'
                    }
                }
            })
        }

        // 로그아웃
        function logout(){
            alert('로그아웃 되었습니다.')
            $.removeCookie('mytoken')
            window.location.href = '/'
        }

        // 홈 이동
        function gohome() {
            window.location.href = '/home'
        }

        // 엔터키가 눌렸을 때
        function enterkey() {
            if (window.event.keyCode == 13) {
               submit();
            }
        }

        // 토스트 함수
        function toast(string) {
            const toast = document.getElementById("toast");
        
            toast.classList.contains("reveal") ?
                (clearTimeout(removeToast), removeToast = setTimeout(function () {
                    document.getElementById("toast").classList.remove("reveal")
                }, 1000)) :
                removeToast = setTimeout(function () {
                    document.getElementById("toast").classList.remove("reveal")
                }, 1000)
            toast.classList.add("reveal"),
                toast.innerText = string
        }
    </script>
</head>

<body style="background-color:black;">
    <nav class="navbar bg-body-tertiary justify-content-between" style="height: 75px; background-color: black; box-shadow: 0px 0px 50px rgb(131, 131, 131);">
        <a class="navbar-brand">
            <img src="{{ url_for('static', filename='typing-jungle_logo_removebg.png') }}" height="35px"
                onClick="gohome()">
        </a>
        <div class="form-inline">
            <span class="navbar-text text-success" id="nav_name" style="margin-right: 10px; font-weight: bold;">${userid} 님</span>
            <button class="btn btn-outline-success btn-sm my-2 my-sm-0" type="" onclick="logout()">Log out</button>
        </div>
    </nav>

    <div class="main">
        <div class="game">
            <div class="container" >
                <h1 style="color: var(--green)">
                    <span id="minutes">00</span>:<span id="seconds">00</span>:<span id="tenMillis">00</span>
                </h1>
            </div>

            <div class="game-form">
                <div class="form-group" id="game-form">
                    <label for="game-problem">문제</label>
                    <input type="text" class="form-control" id="game-problem" value="3초 후에 시작됩니다." onpaste="return false;" oncopy="return false;" oncut="return false;" readonly>
                </div>
                <div class="form-group">
                    <label for="game-ans">답안</label>
                    <input type="text" class="form-control" id="game-ans" onkeyup="enterkey()" onpaste="return false;" oncopy="return false;" oncut="return false;">
                    <!-- js에서 document.getElementById('game-ans')의 value 값 얻어오면 됨. -->
                </div>
            </div>

            <div class="container text-center">
                <div class="d-flex flex-row-reverse">
                  <div class="row">
                    <h5 class="game-num" style="margin-right:20px;">푼 문제 수:
                        <span id="solved_cnt">0</span> / <span id="question_cnt">3</span>
                    </h5>
                    <button class="btn btn-success" id="game-ans-btn" onclick="submit()">Next</button>
                  </div>
                </div>
              </div>
        </div>

        <div id="toast"></div>
    </div>
</body>

</html>