<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Typing Jungle - Sign up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
    <!-- Bootstrap CSS -->
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
        crossorigin="anonymous"
    />
  
    <!-- JS -->
    <script
        src="https://code.jquery.com/jquery-3.5.1.min.js"
        crossorigin="anonymous"
    ></script>
    <script
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"
    ></script>

    <script>
        // 회원가입 함수
        function signup() {
            $.ajax({
                type: "POST",
                url: "/api/signup",
                data: {
                    id_give: $('#userid').val(),
                    pw_give: $('#userpw').val(),
                    check_give: $('#checkpw').val()
                },
                success: function (response) {
                    if (response['result'] == 'success') {
                        alert('회원가입이 완료되었습니다.')
                        window.location.href = '/'
                    } else {
                        alert(response['msg'])
                    }
                }
            })
        }

        // 토스트 함수
        function toast(string) {
            const toast = document.getElementById("toast");
        
            toast.classList.contains("reveal") ?
                (clearTimeout(removeToast), removeToast = setTimeout(function () {
                    document.getElementById("toast").classList.remove("reveal")
                }, 1000)) :
                removeToast = setTimeout(function () {
                    document.getElementById("toast").classList.remove("reveal")
                }, 1000)
            toast.classList.add("reveal"),
                toast.innerText = string
        }
    </script>
</head>
<body>
    <nav class="navbar bg-body-tertiary" style="height: 75px; background-color: white; box-shadow: 0px 0px 30px rgb(240, 240, 240);">
        <div class="container" style="margin: 0; padding: 0px;">
          <a class="navbar-brand" href="https://jungle.krafton.com/" target="_blank">
            <img src="{{ url_for('static', filename='jungle_logo.png') }}" height="35px">
          </a>
        </div>
    </nav>

    <div class="main">
        <div class="login-form">
            <div class="login-form_title">
                <img src="{{ url_for('static', filename='typing-jungle_title.png') }}" width="340px">
            </div>

            <div class="mb-3">
                <input type="text" class="form-control" id="userid" onKeyPress="if( event.keyCode==13 ){signup();}" style="margin-bottom: 5px" required placeholder="아이디를 입력하세요">
                <input type="password" class="form-control"  id="userpw" onKeyPress="if( event.keyCode==13 ){signup();}" style="margin-bottom: 5px" required placeholder="비밀번호를 입력하세요">
                <input type="password" class="form-control" id="checkpw" onKeyPress="if( event.keyCode==13 ){signup();}" style="margin-bottom: 5px" required placeholder="비밀번호를 한 번 더 입력하세요">
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-success my-2 my-sm-0" style="width:100%" onclick="signup()">Sign up</button>
            </div>
        </div>
    </div>
</body>

</html>